body {
    
    min-height: 0;
    /* display: inline-block; */
    position: relative;
    
    margin: 5px 0; 
    /* transform: translate(100%, 0); */
  
    background-color: gold;
    /* max-width: 450px; */
    padding: 30px;

    text-align: center;

}

#collection {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.card {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    max-width: 19em;
    background-color:rgb(50, 29, 52);
    padding: 2em;
    overflow: clip;
    box-shadow: var(--theme-gradient-two);
    margin-left: 10px;
    margin-right: 10px; 
    white-space: normal;
    border: 4px solid white;
    border-radius: 50px;
      
}

.article-title-container {
    position: absolute;
    top: 8px;
    color: white;
    left: 0;
    max-width: 11em;
    color: rgba(255, 255, 255, 0.94);
    font: bold 1.5em Helvetica, Sans-Serif;
    background: rgba(0, 0, 0, 0.7);
    padding: 0.5em;
    overflow: hidden;
    transition: 1s;
}

.article-title-container h4 {
    margin: 0;
    text-transform: uppercase;
    word-wrap: break-word;
    max-width: 100%;
}

.article-title-container:hover {
    letter-spacing: 10px;
}

.card .img-container {
    position: relative;
    padding: 0;
    width: 18em;
    height: 18em;
}

.card img {
    object-fit: cover;
    width: 10em;
    height: 9em;
}

.card img:hover {
    /* z-index: 10000; */
    position: relative;
}

 #stadium-collection {
     width: 100%;
     overflow-x: auto;
     display: flex;
     
 }



 h2 {
    display: block;
    font-size: 1.5em;
   
    font-weight: bold;
    color: white
    
}

img.detail-image  {
    width: 450px;
    overflow-x: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}




#stadium-detail {
    background-color:rgb(50, 29, 52);
    margin-top: 50px;
}


.transition, p, ul li i:before, ul li i:after {
  transition: all 0.25s ease-in-out;
}
.images ul li img {
	width: 400px;
	height: 266px;
}
.images ul li {
	display: inline-block;
}
.flipIn, h1, ul li {
  animation: flipdown 0.5s ease both;
}

.no-select, h2 {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}




@media (max-width: 550px) {
  body {
    box-sizing: border-box;
    transform: translate(0, 0);
    max-width: 100%;
    min-height: 100%;
    margin: 0;
    left: 0;
  


    display: flex;
    align-items: center;
    justify-content: center;

}
}

 h2 {
  color: #fff;
}

h1 {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 3px;
  font-weight: 100;
  color:gold;
}

h2 {
  font-size: 26px;
  line-height: 34px;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
  background-color:transparent;
  margin: 0;
  cursor: pointer;
}

p {
  color:black;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 14px;
  /* z-index: 2; */
}

ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}
ul li {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 18px;
  border-top: 1px dotted orange ;
}
ul li:nth-of-type(1) {
  animation-delay: 0.5s;
}
ul li:nth-of-type(2) {
  animation-delay: 0.75s;
}
ul li:nth-of-type(3) {
  animation-delay: 1s;
}
ul li:last-of-type {
  padding-bottom: 0;
}
ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 0;
}
ul li i:before, ul li i:after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 3px;
  height: 9px;
}
ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}



@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background:gold;
}

::-webkit-scrollbar-thumb {
  background: rgb(50, 29, 52);;
}

::-webkit-scrollbar-thumb:hover {
  background: orange;
}

:root {
    --lightgray: gold;
    --blue: white;
    --white: rgb(50, 29, 52);
    --black: rgba(0, 0, 0, 0.8);
    --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
  }
  
  * {
    padding: 0;
    margin: 0;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  button {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    font-size: inherit;
    color:#333;
  border:2px solid;
  border-radius:3px;
  text-decoration:none;
  display:inline-block;
  padding:5px 10px;
  font-weight:600
  }
 
  
  .btn-group {
    text-align: center;
  }
  
  .open-modal {
    font-weight: bold;
    background: var(--blue);
    color: var(--white);
    padding: 0.75rem 1.75rem;
    margin-bottom: 1rem;
    border-radius: 5px;
  }
  
  
  /* MODAL
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: var(--black);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
  }
  
  .modal.is-visible {
    visibility: visible;
    opacity: 1;
    z-index: 1000;
  }
  
  .modal-dialog {
    position: relative;
    max-width: 800px;
    max-height: 80vh;
    border-radius: 5px;
    background: var(--white);
    overflow: auto;
    cursor: default;
  }
  
  .modal-dialog > * {
    padding: 1rem;
  }
  
  .modal-header,
  .modal-footer {
    background: var(--lightgray);
  }
  
  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .modal-header .close-modal {
    font-size: 1.5rem;
  }
  
  .modal p + p {
    margin-top: 1rem;
  }
  
  
  /* ANIMATIONS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  [data-animation] .modal-dialog {
    opacity: 0;
    transition: all 0.5s var(--bounceEasing);
  }
  
  [data-animation].is-visible .modal-dialog {
    opacity: 1;
    transition-delay: 0.2s;
  }
  
  [data-animation="slideInOutDown"] .modal-dialog {
    transform: translateY(100%);
  }
  
  [data-animation="slideInOutTop"] .modal-dialog {
    transform: translateY(-100%);
  }
  
  [data-animation="slideInOutLeft"] .modal-dialog {
    transform: translateX(-100%);
  }
  
  [data-animation="slideInOutRight"] .modal-dialog {
    transform: translateX(100%);
  }
  
  [data-animation="zoomInOut"] .modal-dialog {
    transform: scale(0.2);
  }
  
  [data-animation="rotateInOutDown"] .modal-dialog {
    transform-origin: top left;
    transform: rotate(-1turn);
  }
  
  [data-animation="mixInAnimations"].is-visible .modal-dialog {
    animation: mixInAnimations 2s 0.2s linear forwards;
  }
  
  [data-animation="slideInOutDown"].is-visible .modal-dialog,
  [data-animation="slideInOutTop"].is-visible .modal-dialog,
  [data-animation="slideInOutLeft"].is-visible .modal-dialog,
  [data-animation="slideInOutRight"].is-visible .modal-dialog,
  [data-animation="zoomInOut"].is-visible .modal-dialog,
  [data-animation="rotateInOutDown"].is-visible .modal-dialog {
    transform: none;
  }
  
  @keyframes mixInAnimations {
    0% {
      transform: translateX(-100%);
    }
  
    10% {
      transform: translateX(0);
    }
  
    20% {
      transform: rotate(20deg);
    }
  
    30% {
      transform: rotate(-20deg);
    }
  
    40% {
      transform: rotate(15deg);
    }
  
    50% {
      transform: rotate(-15deg);
    }
  
    60% {
      transform: rotate(10deg);
    }
  
    70% {
      transform: rotate(-10deg);
    }
  
    80% {
      transform: rotate(5deg);
    }
  
    90% {
      transform: rotate(-5deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  
  /* FOOTER
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .page-footer {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
  
  .page-footer span {
    color: #e31b23;
  }
  
  
  
  
  .ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
  }


  @import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');
html,body{
  margin:0;
  height:120%;
  font-family: 'Josefin Sans', sans-serif;

}
a{
  text-decoration:none
}
.header{
  position:relative;
  overflow:hidden;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  height:50vw;
  min-height:400px;
  max-height:550px;
  min-width:300px;
  color:#eee;
}
.header:after{
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  bottom:0;
  left:0;
  z-index:-1;
 background: linear-gradient(to bottom, rgba(0,0,0,0.12) 40%,rgba(27,32,48,1) 100%);
}
.header:before{
  content:"";
  width:100%;
  height:200%;
  position:absolute;
  top:0;
  left:0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0); backface-visibility: hidden;
  scale:(1.0, 1.0);
    transform: translateZ(0);
  background:#1B2030 url(https://www.aljazeera.com/wp-content/uploads/2020/03/ba7c9e8b4f6d4537aa3c4d4b898c7ed2_8.jpeg?resize=1170%2C780) 50% 0 no-repeat;
  background-size:100%;
  background-attachment:fixed;
  animation: grow 360s  linear 10ms infinite;
  transition:all 0.4s ease-in-out;
  z-index:-2
}
.header a{
  color:#eee
}
.menu{
  display:block;
  width:40px;
  height:30px;
  border:2px solid #fff;
  border-radius:3px;
  position:absolute;
  right:20px;
  top:20px;
  text-decoration:none
}
.menu:after{
  content:"";
  display:block;
  width:20px;
  height:3px;
  background:#fff;
  position:absolute;
  margin:0 auto;
  top:5px;
  left:0;
  right:0;
  box-shadow:0 8px, 0 16px
}
.logo{
  border:2px solid #fff;
  border-radius:3px;
  text-decoration:none;
  display:inline-flex;
  align-items:center;
  align-content:center;
  margin:20px;
  padding:0px 10px;
  font-weight:900;
  font-size:1.1em;
  line-height:1;
  box-sizing:border-box;
  height:40px
}
.sides, .info{
  flex: 0 0 auto;
  width:50%
}
.info{
  width:100%;
  padding:15% 10% 0 10%;
  text-align:center;
  text-shadow:0 2px 3px rgba(0,0,0,0.2)
}
.author{
  display:inline-block;
  width:50px;
  height:50px;
  border-radius:50%;
  background:url(https://i.imgur.com/6DLCsZcb.jpg) center no-repeat;
  background-size:cover;
  box-shadow:0 2px 3px rgba(0,0,0,0.3);
  margin-bottom:3px
}
.info h4, .meta{
  font-size:0.7em
}
.meta{
  font-style:italic;
}
@keyframes grow{
  0% { transform: scale(1) translateY(0px)}
  50% { transform: scale(1.2) translateY(-400px)}
}
.content{  
  padding:5% 10%;
  text-align:justify
}
.btn{
  color:#333;
  border:2px solid;
  border-radius:3px;
  text-decoration:none;
  display:inline-block;
  padding:5px 10px;
  font-weight:600
}

.twtr{
  margin-top:100px
}.btn.twtr:after{content:"\1F426";padding-left:5px}


div#user-info {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  max-width: 19em;
  background-color:white;
  padding: 2em;
  overflow: clip;
  box-shadow: var(--theme-gradient-two);
  margin-left: auto;
  margin-right: auto; 
  white-space: normal;
  border: 8px solid rgb(50, 29, 52);
  border-radius: 50px;
}

h3.description {
  color: white;
}

input{
  color:#333;
  border:2px solid;
  border-radius:3px;
  text-decoration:none;
  display:inline-block;
  padding:5px 10px;
  font-weight:600
}

form#stadium-rating {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  max-width: 19em;
  background-color:rgb(50, 29, 52);
  padding: 2em;
  overflow: clip;
  box-shadow: var(--theme-gradient-two);
  margin-left: auto;
  margin-right: auto; 
  white-space: normal;
  border: 4px solid white;
  border-radius: 50px;

}

label {
  color: gold;
}

button.open-modal{
  color: rgb(50, 29, 52);
}